.container{
    min-width: 300px;
    max-width: 960px;
    margin: 0 auto;
    font-family: helvetica,arial,sans-serif;
   
}

#header a{
    color: #c67605;
    text-transform: uppercase;
    text-decoration: none;
}
.contextMenu{
  display: none;
}


/*Menu*/

.nav{
    padding-left:  0;
}
.row{
    float: left;
    margin-right: 15px;
}
a.activate{
    background-color: #c67605;
}
.break{
    clear: both;
}

#row1 li a{
    text-decoration: none;
color: black;
border-left: 3px solid #c67605;
padding: 5px;
margin-bottom: 5px;
display: block;
width: 100px;
}
#row2 ul.fistLi > li{
     border-bottom:  1px solid #c67605;
     clear: left;
}
#row2  ul.fistLi{
    width: 500px;
}

#row2 li a:hover{
    background-color: #c67605;
    
}
#row2 ul.fistLi > li a#produit{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}
#row2 ul.fistLi > li a{
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
    display: inline-block;  
}
#row2 ul.secondUl > li a{
    padding: 0;
   
}

li {
   list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}
ul.secondUl{
    width: 150px;
    float: right;
     
}
ul.secondUl li {
 
}
/* **************FORM */ 
div label{
    width: 200px;
    display: inline-block;
}
.formulaire{
    margin-top: 20px;
}