.container{
    min-width: 300px;
    max-width: 960px;
    margin: 0 auto;
    font-family: helvetica,arial,sans-serif;
   
}

#header a{
    color: #c67605;
    text-transform: uppercase;
    text-decoration: none;
}
.contextMenu{
  display: none;
}
.row{
    float: left;
    margin-right: 15px;
}
a.activate{
    background-color: #c67605;
}
.break{
    clear: both;
}

#row1 li a{
    text-decoration: none;
    color: black;
    border : 1px solid #c67605;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    display: block;
    width: 100px;
}
#row2 li{
     border : 1px solid #c67605;
}
#row2 ul{
    width: 500px;
}
#row2 li a{
    text-decoration: none;
    color: black;
    
    padding: 10px 20px 10px 20px;
    display: inline-block;
    
}
#row2 li a:hover{
    background-color: #c67605;
    
}
#row2 li a#produit{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

li {
   list-style: none;
}