{# src/Sdz/BlogBundle/Resources/views/Blog/ajouter.html.twig #}
 
{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block parcInfo_content %}
<div class="row" id='row2'>
  
  {% include "JulienParcInformatiqueBundle:parcInfo:formulaire.html.twig" %}
 
 
 </div>
{% endblock %}