{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block sdzblog_body %}
 
  <h2>Liste des articles</h2>
 
  <p>hello mother fucker</p>
   
 
{% endblock %}