{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
  
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block sdzblog_body %}
 
  <h2>Liste des salles</h2>
 
  <ul>
    {% for salle in salles %}
      <li>
        <a href="{{ path('parcInfo_voir_salle', {'id': salle.id}) }}">{{ salle.nom }}</a>
      </li>
    {% else %}
      <li>Pas (encore !) d'salles</li>
    {% endfor %}
  </ul>
 
{% endblock %}