{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Suprimer une salle - {{ parent() }}
{% endblock %}
 
{% block sdzblog_body %}
 
  <h2>Suprimer  {{ salle.nom }}</h2>
 
   <p>
    La salle vient d'être supprimé
  </p>
 
 
 
{% endblock %}