{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Suprimer  - {{ parent() }}
{% endblock %}
 
{% block parcInfo_body %}
 
  <h2>Suprimer  {{ objet.name }}</h2>
 
   <p>
    votre demande à été réalisé
  </p>
 
 
 
{% endblock %}