{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Suprimer un OS- {{ parent() }}
{% endblock %}
 
{% block parcInfo_content %}
 <div class="row" id='row2'>
  <h2>Suprimer  {{ OS.name }}</h2>
 
   <p>
    L'os vient d'être supprimé
  </p>
 
 </div>
 
{% endblock %}