{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Suprimer une salle - {{ parent() }}
{% endblock %}
 
{% block parcInfo_content %}
 <div class="row" id='row2'>
  <h2>Suprimer  {{ salle.nom }}</h2>
 
   <p>
    La salle vient d'être supprimé
  </p>
 
 </div>
 
{% endblock %}