{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'un {{title}} - {{ parent() }}
{% endblock %}
 
{% block parcInfo_content %}
  <div class="row" id='row2'>
 
  <h2>

        {{ produit.name }} 

    </h2>
 
   </div> 
 
 
{% endblock %}