{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'un OS - {{ parent() }}
{% endblock %}
 
{% block parcInfo_content %}
  <div class="row" id='row2'>
 
  <h2>

        {{ os.name }} [ {{ os.version }} ]

    </h2>
 
   </div> 
 
 
{% endblock %}