{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'une salle - {{ parent() }}
{% endblock %}
 
{% block parcInfo_content %}
  <div class="row" id='row2'>
 
  {# Ici, on inclut la vue #}
  {% include "JulienParcInformatiqueBundle:parcInfo:salle.html.twig" %}
 
      <p class="bottom">
    <a href="{{ path('parcInfo_voir_liste_salle') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('parcInfo_modifier_salle', {'id': salle.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier la salle
    </a>
    <a href="{{ path('parcInfo_supprimer_salle', {'id': salle.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer la salle
    </a>
  </p>
 </div>
{% endblock %}