{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'un OS - {{ parent() }}
{% endblock %}
 
{% block sdzblog_body %}
 
  <h2>

        {{ os.name }} [ {{ os.version }} ]

    </h2>
 
    
 
 
{% endblock %}